* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-image:url(name.jpg);
    background: linear-gradient(135deg, #942287 0%, #c9279b 100%);
    color: white;
    padding: 20px 10px;
    text-align: center;
    position: relative;
}
.logoimg {
    max-width: 5px; 
    height: 5px;
    position: absolute;
    left: 2px;
    top: 2px;
}
nav {
    margin-top: 20px;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffeb3b; 
}

nav .active {
    color: #ffeb3b; 
    font-weight: bold;
    border-bottom: 2px solid #ffeb3b; 
    padding-bottom: 5px; 
}
main {
    padding: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}
.form-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.product, .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.2s;
}
.product:hover, .cart-item:hover {
    transform: scale(.9); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.checkout {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.checkout-container {
    text-align: center; 
    margin-top: 20px; 
}
.checkout {
    padding: 12px 24px; 
    font-size: 16px; 
    color: white; 
    background-color: #d75acf; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

.checkout:hover {
    background-color: #f012ae; 
    transform: scale(1.05); 
}

.checkout:active {
    transform: scale(0.95); 
}

.checkout:focus {
    outline: none; 
    box-shadow: 0 0 0 2px #e29a9a; 
}
.gradient-button {
    padding: 12px 20px; 
    font-size: 16px;
    color: white;
    background: linear-gradient(90deg, #cb6391, #ff9ab6); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background 0.3s, transform 0.2s; 
}

.gradient-button:hover {
    background: linear-gradient(90deg, #db829b, #e288c1);
}
.gradient-button:active {
    transform: scale(0.95); 
}

.gradient-button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(255, 87, 51, 0.5); 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 5px 0;
}
footer a {
    color: #ffeb3b;
    text-decoration: none;
    transition: color 0.3s;
}
footer a:hover {
    color: #fff; 
}
