*{
    font-family: monospace;
    text-align: center;
    padding-top: 2px;
}

main{
    padding: 20px;
}
body{
    margin: 0;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-image: url('backroun.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header{
    height: 200vh;
    
}
h1{
    color: rgb(171, 153, 171);
    font-size: 50px;
}
header h1{
    color: rgb(126, 8, 8);
    margin: 0;
}
.button{
    background-color: rgb(215, 187, 214);
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    color: black;
    background-color: rgb(198, 148, 175);
}
img{
    height: 100px;
}

section{
    height: 80vh;
    border: 3px solid rgb(107, 99, 102) ;
    border-radius: 20px;
    width: 1500;
    padding: 200px;
    margin-bottom: 20px;
    text-align: center;
}
.login{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(27, 26, 25);
    background-color: rgb(224, 150, 218);
}

.login:hover{
  color: rgb(170, 184, 184);
  background-color: rgb(156, 82, 140);
}
input{
    border-radius:5px;
    bottom: 2px solid rgb(209, 41, 69);
    height: 26px;
}
footer{
    height: 124px;
    background-color: rgb(182, 137, 161);
    color: rgb(13, 12, 12);
}
.fixedbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: 1px;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(28, 27, 27);
    background-color: rgb(181, 105, 143);
}
.fixedbutton:hover{
    color: aliceblue;
    background-color: rgb(209, 182, 234);
}
table,th,td{
    border: 1px solid black;
    
}
h1{
    text-align: center;
}
table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
ol{
    list-style-position: inside;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.Welcome{
    text-align: center;
    color: rgb(219, 153, 214);
}

