*{
    font-family: monospace;
    text-align: center;
    padding-top: 2px;
}

main{
    padding: 20px;
}
body{
    margin: 0;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-image: url('kid.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header{
    height: 200vh;
    
}
h1{
    color: rgb(15, 15, 15);
    font-size: 50px;
}
header h1{
    color: rgb(126, 8, 8);
    margin: 0;
}
.button{
    background-color: rgb(100, 225, 221);
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    color: black;
    background-color: rgb(74, 161, 209);
}
img{
    height: 100px;
}

section{
    height: 80vh;
    border: 3px solid rgb(107, 99, 102) ;
    border-radius: 20px;
    width: 1500;
    padding: 200px;
    margin-bottom: 20px;
    text-align: center;
}
.login{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(27, 26, 25);
    background-color: rgb(110, 157, 185);
}

.login:hover{
  color: rgb(170, 184, 184);
  background-color: rgb(71, 94, 101);
}
input{
    border-radius:5px;
    bottom: 2px solid rgb(107, 204, 216);
    height: 26px;
}
footer{
    height: 124px;
    background: linear-gradient(135deg, #4d519c 0%, #2495b4 100%);
    color: lightgray;
}
.fixedbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: 1px;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(28, 27, 27);
    background-color: rgb(108, 175, 172);
}
.fixedbutton:hover{
    color: aliceblue;
    background-color: rgb(83, 110, 200);
}
table,th,td{
    border: 1px solid black;
    
}
h1{
    text-align: center;
}
table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
ol{
    list-style-position: inside;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.Welcome{
    text-align: center;
    color: rgb(10, 3, 16);
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:100%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}